In [43]:
import os
import re
import glob
import emoji
import pandas as pd

import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [21]:
product_list = pd.read_csv('unique_product_list_with_ratings.csv')
q = product_list['Pages'].quantile(.95)
product_list = product_list[product_list['Pages'] < q]
product_list.reset_index(drop=True, inplace=True)
product_list['Pages'] = product_list['Pages'].astype(dtype='int')
product_list['Total Reviews'] = product_list['Total Reviews'].apply(lambda x: x.replace(',', '')).astype(
    dtype='int')
print(len(product_list))
product_list.head(1)

317

,Brand,Name,Price,Link,Features,Overall Rating,Total Reviews,Pages,5,4,3,2,1
0,Asus Mobile,ASUS ZenFone 5Z,"36,299",https://www.flipkart.com/asus-zenfone-5z-midni...,['6 GB RAM | 128 GB ROM | Expandable Upto 2 TB...,4.5,4616,462,15005,4566,979,339,1052

In [30]:
product_list['Total Reviews'].sum()

672580

In [ ]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "reviews/*.csv"))
data = pd.DataFrame(columns=['product', 'username', 'user_rating', 'title', 'user_review', 'review_posted_time'])
dfs = []
for f in csv_files:
    dfs.append(pd.read_csv(f))

data = pd.concat([df for df in dfs])
data.head()

# Preprocessing steps
1. Demojize
2. Lower casing
3. Remove special characters
4. Links / URLs
5. Remove stopwords
6. Handle chat conversations*
7. Text Correction
8.

In [26]:
data = pd.read_csv('reviews_201_to_last.csv')
data.head()

,product,username,user_rating,title,user_review,review_posted_time
0,IQOO 9T 5G,Moin Pops,4.0,Best in the market!,Awesome ðŸ‘Œ,2 months ago
1,IQOO 9T 5G,Flipkart Customer,5.0,Worth every penny,So smoothly game performance,3 months ago
2,IQOO 9T 5G,Flipkart Customer,5.0,Great product,Best camera in this segment.. Just I loved it ðŸ”¥,30 days ago
3,IQOO 9T 5G,Karthik H,5.0,Terrible product,Low quality mobile not worth even for 20k Feel...,1 month ago
4,IQOO 9T 5G,Bhargav Bhargav,1.0,Decent product,According to price ok and specifications and d...,12 days ago

In [41]:
data.drop(['username', 'review_posted_time'], axis=1, inplace=True)

In [28]:
data.shape

(799258, 6)

In [39]:
data['title'] = data['title'].apply(lambda text: emoji.demojize(str(text)))
data['user_review'] = data['user_review'].apply(
    lambda text: emoji.demojize(str(text)))

In [42]:
data.head()

,product,user_rating,title,user_review
0,IQOO 9T 5G,4.0,Best in the market!,Awesome :OK_hand:
1,IQOO 9T 5G,5.0,Worth every penny,So smoothly game performance
2,IQOO 9T 5G,5.0,Great product,Best camera in this segment.. Just I loved it ...
3,IQOO 9T 5G,5.0,Terrible product,Low quality mobile not worth even for 20k Feel...
4,IQOO 9T 5G,1.0,Decent product,According to price ok and specifications and d...

Product --> shows related names while typing (can be selected or not)
if selected --> show dashboard
else show dashboard of related product(s)

Rating & Review (OPTIONAL / CONDITIONAL) --> SENTIMENT by category

In [ ]:
FLOW

more the rating ---> more positve